:root {
  --creme: #ecead7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Tahoma;
  font-size: small;
  font-weight: normal;
  background: var(--creme);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Main Menu Bar */

.menu-bar {
  display: flex;
  align-items: center;
  height: 2rem;
  min-height: 2rem;
  /* z-index: 100; */
}

/* Tools and Draw Area */

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tools-draw {
  display: flex;
  flex: 1;
}

.tools-area {
  width: 5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.border {
  border: 1px solid #fefff5;
  outline: 1px solid #b1b1a9;
}

#tools {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#tool {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

#tool:hover {
  background-color: #f8fced;
  border: 1px solid #8b999c;
  border-radius: 5px;
}

#tool img {
  height: 1.8rem;
  width: 1.8rem;
}

.selected {
  background-color: #f8fced;
  border: 1px solid #8b999c;
  border-radius: 5px;
}

.choice-area {
  height: 8rem;
  overflow-y: scroll;
}
.choice-area::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.choice-area {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#choice {
  padding: 0.5rem;
  margin: 0.05rem 0.05rem;
  border: 1px solid #8b999c;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 1.5rem;
}

#choice svg {
  width: 100%;
}

.draw-area {
  flex: 1;
  height: 100%;
  overflow: auto;
  position: relative;
  height: 40rem;
}

#myCanvas {
  background-color: white;
  resize: both;
  position: relative;
}

#myCanvasTemp {
  top: 0;
  left: 0;
  position: absolute;
}

/* Color selector Area */

.colors-area {
  height: 5rem;
  padding: 0.5rem;
  display: flex;
}

.selected-color {
  background-color: #f5f1f0;
  padding: 0.5rem;
  width: 4.5rem;
  position: relative;
}

.border-box {
  border-top: 2px solid #262417;
  border-left: 2px solid #262417;
  border-bottom: 1.5px solid #f7f9eb;
  border-right: 1.5px solid #f7f9eb;
  outline: 2px solid #aeafa5;
}

.select-colors {
  height: 100%;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-rows: repeat(14, 1fr);
}

.select-color-1 {
  background-color: black;
  z-index: 3;
  position: absolute;
  top: 15%;
  left: 20%;
}

.select-color-2 {
  background-color: white;
  position: absolute;
  top: 35%;
  left: 40%;
  z-index: 2;
}
#color-box {
  width: 1.8rem;
  cursor: pointer;
  height: 1.8rem;
}

/* Info Area */

.info-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  padding: 0 0.5rem;
}

#coords {
  display: flex;
  justify-content: center;
  min-width: 6rem;
  width: 5rem;
  border-left: 2px solid #8b999c;
  height: 60%;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row div {
  width: 6rem;
}

#input {
  flex: 1;
  margin:0 0.5rem;
}

.action-button {
  background-color: #EDF3E9;
  width: 5rem;
  padding: 3px 0;
  border-radius: 3px;
}

#action-button:hover {
  /* border: 1px solid #8890D0; */
}

/* Text */

.text {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 20rem;
  /* height: 5rem; */
  border: 1px dashed blue;
  /* outline: 0; */
  resize: none;
  border-image-width: 3;
  background: transparent;
  font-size: 16px;
  color: transparent;
  font-family: Arial;
  line-height: 1;
  word-wrap:break-word;
}